body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 170%;
}

header {
    background-color: rgb(62, 111, 245);
    width: 100%;
    min-height: 120px;
    border-bottom: 3px solid #0026fd;
}

footer {
    background-color: rgb(62, 111, 245);
    width: 100%;
    min-height: 120px;
    border-top: 3px solid #0026fd;
}

main {
    min-height: 100vh;
    padding: 0px 5% 0px 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI';
    text-shadow: 5px 3px 30px black;
}

ul li {
    font-family: 'Lucida Sans';
}

img {
    max-width: 100%;
}

.header-logo{
    float: left;
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 4px black;
    transition: all linear 0.2s;
}

.header-logo:hover{
    cursor: pointer;
    transform:  scale(0.95);
    filter: brightness(0.85);
    transition: all linear 0.3s;
}

a.hamburger-menu {
    background-color: none !important;
    color: rgb(18, 200, 255) !important;
    border-bottom: none !important;
    position: fixed;
    top: -8px;
    right: 10px;
}


header a {
    color: rgb(18, 200, 255);
    float: left;
    text-decoration: none;
    font-size: 27px;
    padding: 1px 10px;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

a.active {
    border-bottom: 3px solid rgb(18, 200, 255);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    top: -15px;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: rgb(18, 200, 255);
    font-size: 27px;
    padding: 8px 12px;
}

  /* линия снизу */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: rgb(18, 200, 255);
    transition: width 0.4s ease;
}

  /* при наведении появляется линия */
    .nav-links a:hover::after {
    width: 100%;
}


.centered {
    text-align: center;
}

.hamburger-menu {
    display: none;
    font-size: 35px;
    float: right;
}

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row {
    overflow: hidden;
}

hr {
    border-top: 2px solid rgb(18, 200, 255);
}

.social {
    width: 70px;
    text-align: center;
    transition: all linear 0.3s;
}

.social:hover {
    width: 70px;
    transform: scale(1.1);
    transition: all linear 0.1s;
}

.socialb {
    width: 90px;
    text-align: center;
    transition: all linear 0.3s;
}

.socialb:hover {
    width: 90px;
    transform: scale(1.1);
    transition: all linear 0.1s;
}

.serv {
    background-color: rgb(62, 111, 245);
    color: rgb(18, 200, 255);
    border: solid 3px #0026fd;
    border-radius: 16px;
    padding: 5px 20px;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 10px;
}

#online {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .players {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .player {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .player img {
    width: 64px;
    border-radius: 10px;
  }

  .input-box {
    width: 50%;
    height: 20px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
}
.input-box2 {
    width: 50%;
    height: 80px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 10px;
}

.input-sel {
    width: 50%;
    height: 25px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
}

.input-submit {
    font-size: 20px;
    background-color: white;
    color: blue;
    padding: 5px 30px;
    border: 3px solid blue;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all linear 0.5s;
}

.input-submit:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
    background-color: blue;
    color: #fff;
}

.btn {
    background-color: rgb(62, 111, 245);
    color: rgb(18, 200, 255);
    border: solid 3px #0026fd;
    border-radius: 16px;
    padding: 20px 40px;
    font-size: 18px;
    transition: all linear 0.6s;
}

.btn:hover {
    background-color: rgb(18, 200, 255);
    color: #0026fd;
    border: solid 3px rgb(62, 111, 245);
    border-radius: 16px;
    padding: 20px 40px;
    font-size: 21px;
    cursor: pointer;
    transition: all linear 0.5s;
}

.yt-ber {
    background-color: rgb(18, 200, 255);
    border: 3px solid #0026fd;
    border-radius: 15px;
    box-shadow: 3px 3px 4px black;
    margin: 5px 10px;
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    gap: 15px;
}

.ytimg {
    border: 3px solid rgb(62, 111, 245);
    border-radius: 15px;
}

@media (max-width: 770px) {

    [class*="col-"] {
        width: 100%;
    }


    .nav {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(62, 111, 245);
        border: 3px solid #0026fd;
        right: 1px;
        top: 90px;
      }
    
      .nav-links {
        display: none; /* ascuns inițial */
        flex-direction: column;  /* fiecare link pe linia lui */
        width: 100%;
        margin-top: 10px;
      }
    
      .nav-links a {
        display: block;     /* ocupă toată lățimea */
        padding: 12px 15px; /* spațiu frumos */
        margin: 0;          /* fără margin laterale */
        color:   rgb(18, 200, 255);
        text-align: left;   /* aliniere la stânga */
      }
    
      .hamburger-menu {
        display: block; /* afișăm pe mobil */
        position: absolute;
        right: 15px;
        top: 15px;
      }
    
      /* când meniul este activ */
      .nav.mobile .nav-links {
        display: flex;
        animation: slideDown 0.4s ease forwards;
      }
}
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}